---
layout: main
title: Tozbulut - English
img: 'https://images.unsplash.com/photo-1600941039083-f75f3e8de948?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60'
---

<h5 style="
    font-size: 1.7rem;
">🙙 English 🙚</h5>
{% for post in site.categories.english %}
                {% if post.url %}
                     <div class="sda"><a href="{{ post.url }}" class="sdx">{{ post.title }}</a></div>
                {% endif %}
               {% endfor %}
