<!DOCTYPE html>
<html lang="tr">
    <head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="description" content="">
        <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">



  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">


  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="https://tozbulut.github.io/css/normalize.css">
  <link rel="stylesheet" href="https://tozbulut.github.io/css/skeleton.css">
  <link rel="stylesheet" href="https://tozbulut.github.io/css/custom.css">

    <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
  <link rel="stylesheet" href="https://tozbulut.github.io/css/github-prettify-theme.css">
  <script src="https://tozbulut.github.io/js/site.js"></script>
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="https://tozbulut.github.io/images/favicon.png">


    </head>
    <body class="code-snippets-visible">
        

<div class="section"><div style="position: relative; width: 100%; display: flex; flex-direction: column; align-items: center; height: 30vh; cursor: default;">
        
            <img src="{{ page.img }}" style="display: block; object-fit: cover; border-radius: 0px; width: 100%; height: 30vh; opacity: 1; object-position: center 40%;">

        </div></div>
        
        
        
       <div class="section" style="margin-top: 4vh;">
    <div class="container">
                <div style=" display: block; min-height: 30px; width: 100%; font-size: 12px; "><div style=" float: right; "><em><a style="color: #222;" href="https://tozbulut.github.io/">Tozbulut</a> - {{ page.date| date: "%m-%d-%Y" }} - {{ page.kat }}</em></div></div>
      <h3 class="section-heading" style="font-size: 4em; font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, 'Apple Color Emoji', Arial, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol' !important; color: rgb(55, 53, 47); font-weight: 700; line-height: 1.2;">{{ page.title }}</h3>
         {{ content }}
    
    </div>
  </div>
        
<div class="section footer" style="background-color: #222;">
    <div class="container" style="background-color: #222;padding-top: 50px;margin-top: 50px;color: white;">
      <div class="row">
        <div class="one-third column value">
          
          
            <p class="value-description"><a href="https://tozbulut.github.io/">Tozbulut</a></p>
             <p class="value-description"><a href="https://tozbulut.github.io/rehber">Rehber</p>
             <p class="value-description"><a href="https://tozbulut.github.io/english">English</p>
   
          
          </div>
        <div class="one-third column value">
              <p class="value-description"><a href="https://tozbulut.github.io/hakkinda">Hakkında</p>
             <p class="value-description"><a href="https://tozbulut.github.io/arsiv">Arşiv</p>
            
        </div>
        <div class="one-third column value">
          
   
              <p class="value-description">Instagram</p>
        </div>
      </div>
    </div>
  </div>
 
  </div>
    

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    </body>
</html>
