<!DOCTYPE html>
<html lang="tr">
    <head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="description" content="">
        <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">



  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">


  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="https://tozbulut.github.io/css/normalize.css">
  <link rel="stylesheet" href="https://tozbulut.github.io/css/skeleton.css">
  <link rel="stylesheet" href="https://tozbulut.github.io/css/custom.css">

    <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
  <link rel="stylesheet" href="https://tozbulut.github.io/css/github-prettify-theme.css">
  <script src="https://tozbulut.github.io/js/site.js"></script>
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="https://tozbulut.github.io/images/favicon.png">


    </head>
    <body class="code-snippets-visible">
        
<div class="section"><div style="position: relative; width: 100%; display: flex; flex-direction: column; align-items: center; height: 30vh; cursor: default;">
        
            <img src="https://tozbulut.github.io/images/nasa_robert_stewart_spacewalk_2.jpg" style="display: block; object-fit: cover; border-radius: 0px; width: 100%; height: 30vh; opacity: 1; object-position: center 40%;">

        </div></div>
        
        
        
       <div class="section" style="margin-top: 7vh;">
    <div class="container">
      <h3 class="section-heading" style="font-size: 40px; font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, 'Apple Color Emoji', Arial, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol' !important; color: rgb(55, 53, 47); font-weight: 700; line-height: 1.2;">{{ page.title }}</h3>
         {{ content }}
      <a class="button button-primary" href="http://getskeleton.com">View Skeleton Docs</a>
    </div>
  </div>
        




    {% include footer.html %}
 
  </div>
    

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    </body>
</html>
